* {
    margin: 0; // elimina el margen por defecto de todos los elementos
    padding: 0; // elimina el relleno por defecto de todos los elementos
    box-sizing: border-box; // hace que el ancho y alto incluyan el padding y el borde, evitando cálculos extra
}

body {
    font-family: $font-family;
    background-image: url('../img/fondo.png'); // establece una imagen de fondo
    background-size: cover; //Cubre area visible
    background-position: center; // centra la imagen de fondo
    background-repeat: no-repeat; // evita que la imagen se repita
    background-attachment: fixed; 
    min-height: 100vh; // asegura que el body tenga al menos la altura completa de la ventana
    display: flex; // convierte el body en un contenedor flexbox
    flex-direction: column; // organiza los elementos hijos en columna
}

main {
    flex: 1; // hace que el main ocupe todo el espacio disponible dentro del body
    padding: $spacing-lg; //relleno interno
    display: flex; // main=flexbox
    flex-direction: column; // organizado en columnass
    gap: $spacing-md; // separacion
    max-width: 420px; 
    width: 100%; 
    margin: 0 auto; // centra el main horizontalmente dentro del body
}
